USE [master]
GO
/****** Object:  Database [Change_it]    Script Date: 17/6/2021 02:23:23 ******/
CREATE DATABASE [Change_it]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Change_it', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Change_it.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Change_it_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Change_it_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Change_it].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Change_it]
GO
/****** Object:  Table [dbo].[Commerce]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commerce](
	[CommerceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](128) NULL,
	[Amount] [money] NULL,
 CONSTRAINT [PK_Commerce] PRIMARY KEY CLUSTERED 
(
	[CommerceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habits]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[HabitsId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](16) NOT NULL,
	[Detail] [varchar](255) NOT NULL,
	[Ubication] [varchar](255) NOT NULL,
	[Input] [varchar](64) NOT NULL,
	[Amount] [money] NOT NULL,
	[Commerce] [int] NOT NULL,
	[Image] [int] NOT NULL,
 CONSTRAINT [PK_Habits] PRIMARY KEY CLUSTERED 
(
	[HabitsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabitsPerUser]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabitsPerUser](
	[UserId] [int] NOT NULL,
	[HabitsId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](255) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagePerHabits]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagePerHabits](
	[ImageId] [int] NOT NULL,
	[HabitsId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/6/2021 02:23:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](16) NOT NULL,
	[FirstName] [varchar](16) NOT NULL,
	[SecondName] [varchar](16) NOT NULL,
	[Location] [varchar](255) NOT NULL,
	[Friend] [int] NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Habits]  WITH CHECK ADD  CONSTRAINT [FK_Habits_Commerce] FOREIGN KEY([Commerce])
REFERENCES [dbo].[Commerce] ([CommerceId])
GO
ALTER TABLE [dbo].[Habits] CHECK CONSTRAINT [FK_Habits_Commerce]
GO
ALTER TABLE [dbo].[HabitsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_HabitsPerUser_Habits] FOREIGN KEY([HabitsId])
REFERENCES [dbo].[Habits] ([HabitsId])
GO
ALTER TABLE [dbo].[HabitsPerUser] CHECK CONSTRAINT [FK_HabitsPerUser_Habits]
GO
ALTER TABLE [dbo].[HabitsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_HabitsPerUser_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[HabitsPerUser] CHECK CONSTRAINT [FK_HabitsPerUser_User]
GO
ALTER TABLE [dbo].[ImagePerHabits]  WITH CHECK ADD  CONSTRAINT [FK_ImagePerHabits_Habits] FOREIGN KEY([HabitsId])
REFERENCES [dbo].[Habits] ([HabitsId])
GO
ALTER TABLE [dbo].[ImagePerHabits] CHECK CONSTRAINT [FK_ImagePerHabits_Habits]
GO
ALTER TABLE [dbo].[ImagePerHabits]  WITH CHECK ADD  CONSTRAINT [FK_ImagePerHabits_Image] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Image] ([ImageId])
GO
ALTER TABLE [dbo].[ImagePerHabits] CHECK CONSTRAINT [FK_ImagePerHabits_Image]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User] FOREIGN KEY([Friend])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User]
GO
USE [master]
GO
