USE [master]
GO
/****** Object:  Database [ChangeIt]    Script Date: 14/6/2021 11:31:50 ******/
CREATE DATABASE [ChangeIt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChangeIt', FILENAME = N'C:\development\basedata\ChangeIt\ChangeIt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChangeIt_log', FILENAME = N'C:\development\basedata\ChangeIt\ChangeIt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChangeIt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChangeIt]
GO
/****** Object:  Table [dbo].[Availables_Habit_Ubications]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Availables_Habit_Ubications](
	[geographicUbicationId] [bigint] NOT NULL,
	[habitId] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[countryId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[countryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[genderId] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[genderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Geographic_Ubications]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Geographic_Ubications](
	[geographicUbicationId] [bigint] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](120) NOT NULL,
	[latitude] [decimal](9, 6) NOT NULL,
	[longitude] [decimal](9, 6) NOT NULL,
	[coverageRadiusMeters] [int] NOT NULL,
 CONSTRAINT [PK_Geographic_Ubications] PRIMARY KEY CLUSTERED 
(
	[geographicUbicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habits]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits](
	[habitId] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](240) NOT NULL,
	[habitActionTypeId] [smallint] NOT NULL,
	[iconURL] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Habits] PRIMARY KEY CLUSTERED 
(
	[habitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habits_Actions_Types]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habits_Actions_Types](
	[habitActionTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Habits_Actions_Types] PRIMARY KEY CLUSTERED 
(
	[habitActionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[social_Medias]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[social_Medias](
	[socialMediaId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[url] [nvarchar](128) NOT NULL,
	[support] [nvarchar](128) NOT NULL,
	[iconUrl] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_socialMedias] PRIMARY KEY CLUSTERED 
(
	[socialMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsor_types]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor_types](
	[sponsorTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](120) NOT NULL,
 CONSTRAINT [PK_Sponsor_types_1] PRIMARY KEY CLUSTERED 
(
	[sponsorTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsors]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsors](
	[sponsorId] [bigint] IDENTITY(1,1) NOT NULL,
	[sponsorTypeId] [smallint] NOT NULL,
 CONSTRAINT [PK_Sponsors] PRIMARY KEY CLUSTERED 
(
	[sponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Summary_Posts]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Summary_Posts](
	[summaryPostId] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[socialMediaId] [smallint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[text] [nvarchar](2000) NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Summary_Posts] PRIMARY KEY CLUSTERED 
(
	[summaryPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/6/2021 11:31:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [bigint] IDENTITY(1,1) NOT NULL,
	[nationalId] [varchar](50) NOT NULL,
	[name] [nvarchar](60) NOT NULL,
	[lastname] [nvarchar](60) NOT NULL,
	[birthday] [date] NOT NULL,
	[countryId] [smallint] NOT NULL,
	[genderId] [tinyint] NOT NULL,
	[mail] [nvarchar](128) NOT NULL,
	[socialMediaId] [smallint] NOT NULL,
	[internalSocialMediaId] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Availables_Habit_Ubications]  WITH CHECK ADD  CONSTRAINT [FK_AvailablesHabitUbications_GeographicUbications_Id] FOREIGN KEY([geographicUbicationId])
REFERENCES [dbo].[Geographic_Ubications] ([geographicUbicationId])
GO
ALTER TABLE [dbo].[Availables_Habit_Ubications] CHECK CONSTRAINT [FK_AvailablesHabitUbications_GeographicUbications_Id]
GO
ALTER TABLE [dbo].[Availables_Habit_Ubications]  WITH CHECK ADD  CONSTRAINT [FK_AvailablesHabitUbications_Habits_id] FOREIGN KEY([habitId])
REFERENCES [dbo].[Habits] ([habitId])
GO
ALTER TABLE [dbo].[Availables_Habit_Ubications] CHECK CONSTRAINT [FK_AvailablesHabitUbications_Habits_id]
GO
ALTER TABLE [dbo].[Habits]  WITH CHECK ADD  CONSTRAINT [FK_Habits_HabitsActions_Types] FOREIGN KEY([habitActionTypeId])
REFERENCES [dbo].[Habits_Actions_Types] ([habitActionTypeId])
GO
ALTER TABLE [dbo].[Habits] CHECK CONSTRAINT [FK_Habits_HabitsActions_Types]
GO
ALTER TABLE [dbo].[Sponsors]  WITH CHECK ADD  CONSTRAINT [FK_Sponsors_Sponsortypes_sponsor_typeId] FOREIGN KEY([sponsorTypeId])
REFERENCES [dbo].[Sponsor_types] ([sponsorTypeId])
GO
ALTER TABLE [dbo].[Sponsors] CHECK CONSTRAINT [FK_Sponsors_Sponsortypes_sponsor_typeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries_countryId] FOREIGN KEY([countryId])
REFERENCES [dbo].[Countries] ([countryId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries_countryId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Genders_genderId] FOREIGN KEY([genderId])
REFERENCES [dbo].[Genders] ([genderId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Genders_genderId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_socialMedias_socialMediaId] FOREIGN KEY([socialMediaId])
REFERENCES [dbo].[social_Medias] ([socialMediaId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_socialMedias_socialMediaId]
GO
USE [master]
GO
